html {
  --green-color: #94c11f;
  --blue-color: #15427b;
  --white-color: #ffffff;
  --grey-color: #333;
}

body {
  display: flex;
  justify-content: center;
}
form {
  background-color: var(--bleu-color);
}

h1 {
  color: var(--green-color);
}
h2, h3, h4 {
  color: var(--blue-color);
}

input[type=submit] {
  margin-left: auto;
}
input[type=text] {
  margin: 0 4px !important;
}
